.statistics {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  max-width: 600px;
  margin: 0 auto;
}
.title {
  margin-top: 46px;
  text-align: center;
  font-size: 34px;
  color: floralwhite;
}
.statList {
  margin-bottom: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 68px;
}
.label {
  display: flex;
  font-size: 24px;
  color: #434455;
}
.percentage {
  display: flex;
  font-size: 26px;
  color: #434455;
}
